<div class="container details">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{friend.name}}'s Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a ui-sref="start"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <img ng-src="{{friend.photo}}" alt="{{friend.name}}">
        </div>
        <div class="col-xs-6">
            <p>{{friend.name}}</p>
            <p>{{friend.adress}}</p>
            <p>{{friend.status}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>{{friend.bio}}</p>
        </div>
    </div>
</div>